<!DOCTYPE html>
<html>
<head>
  <title>Disperindag</title>
  <!-- config.action_controller.asset_host = "http://your-assets-server.com" -->
  <%= stylesheet_link_tag    'application',params[:controller], media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
