<%= render "layouts/admin/header" %>
<body class="skin-bright-blue fixed">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p><br/>
  <a href="JavaScript:;" id="test">test</a>
</body>
<%= render "layouts/admin/js" %>
<%= render "layouts/admin/footer" %>
